<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title" id="exampleModalLabel">Change Password</h4>
        <br>
        <% @user.change_password do %>
          <%= form_for @user, validate: true, url: url, html: { id: 'password_form' } do |f| %>
            <div class="form-group">
              <%= f.password_field :password,
                        type: 'password',
                        label: t('.new_password'),
                        input_html: { id: 'change_password' }, 
                        :class => "form-control",
                        placeholder: "Password" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation,
                        type: 'password',
                        input_html: { id: 'change_password_confirmation' }, 
                        :class => "form-control",
                        placeholder: "Password confirmation" %>
            </div>
            <div class="form-actions">
              <%= f.submit "Save", id: "savePasswordChangeBtn", :class => "btn btn-dark max-width" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
