// body {
//   background-color: #fff;
//   color: #333;
//   margin: 33px;
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

body {
  background-color: #f5f5f5;
  color: #333;
}

html,
body {
  height: 100%;
}
